* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: aqua;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
  position: relative;
}

.animatiomSelection {
  z-index: 11;
  background-color: white;
  position: absolute;
}
.animatiomSelection ul{
  list-style: none;
}
.animatiomSelection ul li{
  cursor: pointer;
  padding: 8px;
}
.animatiomSelection ul li:hover{
  background-color: gainsboro;
}
